<html>
  <head><title></title>
  	<style>
  #wrong {
  	background: red;
  }
  #right {
  	background: green;
  }
	</style>
  </head>
<% if correct %>
  <body id="right">
  <% else %>
  <body id="wrong">
  <% end %>
  <div style="text-align:center">
    <p>
    <% if correct %>
      The SECRET NUMBER is <%= number %>
      <img src = "http://media.tumblr.com/tumblr_lzwagsA2Bs1r7n0dh.gif">
      <% end %>
      Your guess is <%= guess %>
      <form>
  		<input type='text' name='guess' />
  		<input type='submit' value='Guess!' />
	</form>
    </p>
    </div>
  </body>
</html>