<html>
  <head></head>
  <body>
    <p>
    <% if correct %>
      The SECRET NUMBER is <%= number %>
      <img src = "https://lh3.googleusercontent.com/-JBsu_qCqtS4/TtgL47IXboI/AAAAAAAAKRo/wWJ2yX8ZCG4/w402/Moonset_Micael_Reynaud.gif">
      <body style='background: red'>
      <% end %>
      Your guess is <%= guess %>
    </p>
  </body>
</html>

<form>
  <input type='text' name='guess' />
  <input type='submit' value='Guess!' />
</form>